#sidebar {
    min-width: 300px;
    max-width: 300px;
    background: #383838;
    color: #fff;
    transition: all 0.3s;
}

.sidebar {
    &-active {
        margin-left: -300px;
    }

    &-title {
        font-size: 22px;
        margin-bottom: 12px;
    }
}